#wrapper #header .headTop {
  background: #eaeaea;
  height: 30px;
}
#wrapper #header .headTop .headMain {
  width: 1200px;
  margin: 0 auto;
  line-height: 30px;
}
#wrapper #header .headTop .headMain::after {
  clear: both;
  display: block;
  content: '';
}
#wrapper #header .headTop .headMain .headLeft h5 {
  float: left;
  margin-right: 5px;
}
#wrapper #header .headTop .headMain .headLeft p {
  float: left;
}
#wrapper #header .headTop .headMain .headLeft p a:first-child {
  border-right: 1px solid #b3aeae;
  margin-right: 0px;
  padding-right: 5px;
}
#wrapper #header .headTop .headMain .headRight {
  float: right;
}
#wrapper #header .headTop .headMain .headRight nav {
  font-size: 0px;
}
#wrapper #header .headTop .headMain .headRight nav a {
  border-right: 1px solid #b3aeae;
  padding-right: 10px;
  margin-right: 10px;
  font-size: 12px;
}
#wrapper #header .headTop .headMain .headRight nav a:last-child {
  border: none;
  padding-right: 0px;
}
#wrapper #header .headBottom .headBottomMain {
  width: 1200px;
  margin: 0 auto;
}
#wrapper #header .headBottom .headBottomMain::after {
  clear: both;
  display: block;
  content: '';
}
#wrapper #header .headBottom .headBottomMain .logo {
  float: left;
}
#wrapper #header .headBottom .headBottomMain .logo a img {
  width: 175px;
  height: 56px;
  margin: 25px 45px;
}
#wrapper #header .headBottom .headBottomMain .search {
  float: right;
  margin-top: 35px;
}
#wrapper #header .headBottom .headBottomMain .search input:first-child {
  box-sizing: border-box;
  width: 490px;
  height: 32px;
  padding: 0px 4px;
  border: 3px solid #ea4a36;
  float: left;
}
#wrapper #header .headBottom .headBottomMain .search input:last-child {
  width: 68px;
  height: 32px;
  color: #fff;
  background: #ea4a36;
  border: none;
}
#wrapper #header .headBottom .headBottomMain .search input::-webkit-input-placeholder {
  color: yellowgreen;
}
#wrapper .navwrap {
  border-bottom: 2px solid #e1251b;
}
#wrapper .navwrap .navwrapMain {
  width: 1200px;
  margin: 0 auto;
}
#wrapper .navwrap .navwrapMain nav::after {
  clear: both;
  display: block;
  content: '';
}
#wrapper .navwrap .navwrapMain nav a {
  margin: 0px 22px;
  font-size: 16px;
  color: #333;
  float: left;
  line-height: 50px;
}
#wrapper .navwrap .navwrapMain nav a:first-child {
  width: 210px;
  height: 50px;
  background-color: #e1251b;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  float: left;
  text-align: center;
  line-height: 50px;
}
#wrapper .content .contentMain {
  width: 1200px;
  margin: 15px auto 0 auto;
}
#wrapper .content .contentMain .navPath {
  padding: 9px 15px 9px 0;
  font-size: 0px;
}
#wrapper .content .contentMain .navPath a {
  font-size: 12px;
}
#wrapper .content .contentMain .navPath i {
  padding: 0 5px;
  font-size: 12px;
}
#wrapper .content .contentMain .center {
  margin: 5px 0 15px;
}
#wrapper .content .contentMain .center::after {
  clear: both;
  display: block;
  content: '';
}
#wrapper .content .contentMain .center .left {
  width: 400px;
  float: left;
}
#wrapper .content .contentMain .center .left .leftTop {
  width: 400px;
  position: relative;
}
#wrapper .content .contentMain .center .left .leftTop .smallPic {
  width: 400px;
  height: 400px;
  border: 1px solid #dfdfdf;
  position: relative;
}
#wrapper .content .contentMain .center .left .leftTop .smallPic img {
  width: 400px;
  height: 400px;
}
#wrapper .content .contentMain .center .left .leftTop .smallPic .mask {
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  position: absolute;
  left: 0px;
  top: 0px;
}
#wrapper .content .contentMain .center .left .leftTop .bigPic {
  width: 400px;
  height: 400px;
  border: 1px solid #ddd;
  left: 420px;
  top: 0px;
  position: absolute;
  overflow: hidden;
}
#wrapper .content .contentMain .center .left .leftTop .bigPic img {
  width: 800px;
  height: 800px;
  position: absolute;
}
#wrapper .content .contentMain .center .left .leftBottom {
  width: 400px;
  margin-top: 5px;
  display: flex;
}
#wrapper .content .contentMain .center .left .leftBottom::after {
  clear: both;
  display: block;
  content: '';
}
#wrapper .content .contentMain .center .left .leftBottom a {
  width: 10px;
  height: 54px;
  border: 1px solid #ccc;
  background-color: #ebebeb;
  text-align: center;
  line-height: 54px;
}
#wrapper .content .contentMain .center .left .leftBottom a:first-child {
  margin-right: 4px;
}
#wrapper .content .contentMain .center .left .leftBottom .piclist {
  position: relative;
  width: 372px;
  height: 56px;
  overflow: hidden;
}
#wrapper .content .contentMain .center .left .leftBottom .piclist ul {
  position: absolute;
  white-space: nowrap;
  left: 0px;
  transition: 0.5s;
}
#wrapper .content .contentMain .center .left .leftBottom .piclist ul li {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  padding: 2px;
  margin-right: 20px;
  display: inline-block;
}
#wrapper .content .contentMain .center .left .leftBottom .piclist ul li img {
  width: 50px;
  height: 50px;
}
#wrapper .content .contentMain .center .right {
  width: 700px;
  float: right;
}
#wrapper .content .contentMain .center .right .rightTop h1 {
  line-height: 21px;
  margin-top: 15px;
  font-size: 14px;
}
#wrapper .content .contentMain .center .right .rightTop > p {
  color: #e12228;
  margin-top: 15px;
}
#wrapper .content .contentMain .center .right .rightTop .priceMain {
  margin-top: 10px;
  line-height: 28px;
  background-color: #fee9ec;
  padding: 7px;
}
#wrapper .content .contentMain .center .right .rightTop .priceMain .priceTop {
  display: flex;
}
#wrapper .content .contentMain .center .right .rightTop .priceMain .priceTop > span {
  margin-right: 15px;
}
#wrapper .content .contentMain .center .right .rightTop .priceMain .priceTop .price {
  display: flex;
}
#wrapper .content .contentMain .center .right .rightTop .priceMain .priceTop .price #p1 {
  font-size: 16px;
  color: #cc1122;
}
#wrapper .content .contentMain .center .right .rightTop .priceMain .priceTop .price #p2 {
  font-size: 24px;
  color: #cc1122;
  font-weight: bold;
}
#wrapper .content .contentMain .center .right .rightTop .priceMain .priceTop .price #p3 {
  font-size: 12px;
  color: #cc1122;
}
#wrapper .content .contentMain .center .right .rightTop .priceMain .priceTop p {
  margin-left: auto;
}
#wrapper .content .contentMain .center .right .rightTop .priceMain .priceBottom {
  display: flex;
  width: 520px;
  line-height: 28px;
}
#wrapper .content .contentMain .center .right .rightTop .priceMain .priceBottom > span {
  margin-right: 15px;
}
#wrapper .content .contentMain .center .right .rightTop .priceMain .priceBottom p > span:first-child {
  background-color: #c81623;
  padding: 3px;
  color: #fff;
}
#wrapper .content .contentMain .center .right .rightTop .support {
  display: flex;
  margin-top: 10px;
  line-height: 28px;
}
#wrapper .content .contentMain .center .right .rightTop .support > span {
  margin-right: 15px;
}
#wrapper .content .contentMain .center .right .rightTop .support > p {
  width: 520px;
  color: #999;
}
#wrapper .content .contentMain .center .right .rightTop .address {
  display: flex;
  border-bottom: 1px solid #ededed;
  padding-bottom: 5px;
  margin-top: 10px;
  line-height: 28px;
}
#wrapper .content .contentMain .center .right .rightTop .address > span {
  margin-right: 15px;
}
#wrapper .content .contentMain .center .right .rightTop .address > p {
  width: 520px;
  color: #999;
}
#wrapper .content .contentMain .center .right .rightBottom {
  margin-top: 10px;
  line-height: 28px;
}
#wrapper .content .contentMain .center .right .rightBottom .choose {
  display: flex;
}
#wrapper .content .contentMain .center .right .rightBottom .choose .mark {
  height: 30px;
  background-color: snow;
  border: 1px solid #ddd;
  padding: 0 20px;
  margin-right: 20px;
}
#wrapper .content .contentMain .center .right .rightBottom .choose .mark a {
  color: red;
  margin-left: 20px;
}
#wrapper .content .contentMain .center .right .rightBottom .chooseWrap dl {
  margin-top: 13px;
  margin-bottom: 13px;
  display: flex;
}
#wrapper .content .contentMain .center .right .rightBottom .chooseWrap dl dt {
  margin-right: 15px;
}
#wrapper .content .contentMain .center .right .rightBottom .chooseWrap dl dd {
  margin-right: 5px;
  color: #666;
  line-height: 24px;
  padding: 2px 14px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}
#wrapper .content .contentMain .center .right .rightBottom .chooseWrap dl dd:first-of-type {
  color: red;
}
#wrapper .content .contentMain .center .right .rightBottom .addCart::after {
  clear: both;
  display: block;
  content: '';
}
#wrapper .content .contentMain .center .right .rightBottom .addCart .count {
  width: 55px;
  margin-right: 15px;
  position: relative;
  float: left;
}
#wrapper .content .contentMain .center .right .rightBottom .addCart .count input {
  width: 38px;
  height: 37px;
  border: 1px solid #ddd;
  color: #555;
}
#wrapper .content .contentMain .center .right .rightBottom .addCart .count a {
  width: 15px;
  height: 18px;
  background-color: #f1f1f1;
  position: absolute;
  color: #666;
  right: 1px;
  text-align: center;
  line-height: 18px;
  border: 1px solid #ddd;
}
#wrapper .content .contentMain .center .right .rightBottom .addCart .count a:first-child {
  top: 0px;
}
#wrapper .content .contentMain .center .right .rightBottom .addCart .count a:last-child {
  top: 20px;
  border-top: none;
}
#wrapper .content .contentMain .center .right .rightBottom .addCart button {
  padding-left: 25px;
  padding-right: 25px;
  height: 36px;
  font-size: 16px;
  background-color: #e1251b;
  color: white;
  border: none;
  float: left;
}
#wrapper .content .contentMain .goodsDetailWrap {
  width: 1200px;
  margin: 30px auto 0px;
  display: flex;
}
#wrapper .content .contentMain .goodsDetailWrap .leftAside {
  width: 210px;
  border: 1px solid #ccc;
}
#wrapper .content .contentMain .goodsDetailWrap .leftAside .asideTop {
  display: flex;
}
#wrapper .content .contentMain .goodsDetailWrap .leftAside .asideTop h4 {
  height: 40px;
  background: #fff;
  width: 105px;
  line-height: 37px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-top: 3px solid #fff;
}
#wrapper .content .contentMain .goodsDetailWrap .leftAside .asideTop h4.active {
  border-top: 3px solid #e1251b;
  width: 105px;
  line-height: 37px;
  border-bottom: none;
}
#wrapper .content .contentMain .goodsDetailWrap .leftAside .asideContent {
  padding: 10px;
}
#wrapper .content .contentMain .goodsDetailWrap .leftAside .asideContent div {
  display: none;
}
#wrapper .content .contentMain .goodsDetailWrap .leftAside .asideContent div.active {
  display: block;
}
#wrapper .content .contentMain .goodsDetailWrap .leftAside .asideContent div.active ul.goodslist1::after {
  clear: both;
  display: block;
  content: '';
}
#wrapper .content .contentMain .goodsDetailWrap .leftAside .asideContent div.active ul.goodslist1 li {
  width: 50%;
  border-bottom: 1px dashed #ededed;
  line-height: 28px;
  float: left;
}
#wrapper .content .contentMain .goodsDetailWrap .leftAside .asideContent div.active ul.goodslist2 {
  margin: 5px 0 15px;
}
#wrapper .content .contentMain .goodsDetailWrap .leftAside .asideContent div.active ul.goodslist2 li {
  border-bottom: 1px solid #ededed;
}
#wrapper .content .contentMain .goodsDetailWrap .leftAside .asideContent div.active ul.goodslist2 li img {
  width: 152px;
}
#wrapper .content .contentMain .goodsDetailWrap .leftAside .asideContent div.active ul.goodslist2 li p {
  font-size: 16px;
  color: #c81623;
}
#wrapper .content .contentMain .goodsDetailWrap .leftAside .asideContent div.active ul.goodslist2 li div.button {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
#wrapper .content .contentMain .goodsDetailWrap .leftAside .asideContent div.active ul.goodslist2 li div.button a {
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
  line-height: 18px;
  padding: 2px 14px;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail {
  width: 980px;
  margin-left: 8px;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .chooseBox {
  border: 1px solid #ddd;
  margin-bottom: 15px;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .chooseBox h4 {
  border-bottom: 1px solid #ddd;
  background: #f1f1f1;
  color: #333;
  padding: 5px 0 5px 15px;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .chooseBox .listWrap {
  height: 170px;
  margin-top: 10px;
  display: flex;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .chooseBox .listWrap .left {
  text-align: center;
  position: relative;
  width: 127px;
  height: 165px;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .chooseBox .listWrap .left img {
  width: 87px;
  margin: 0 auto;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .chooseBox .listWrap .left p {
  color: #c81623;
  font-size: 16px;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .chooseBox .listWrap .left i {
  top: 48px;
  right: -25px;
  font-size: 16px;
  position: absolute;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .chooseBox .listWrap .middle {
  text-align: center;
  width: 668px;
  height: 165px;
  display: flex;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .chooseBox .listWrap .middle li {
  width: 127px;
  height: 127px;
  margin-right: 20px;
  margin-left: 20px;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .chooseBox .listWrap .middle li img {
  width: 120px;
  height: 130px;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .chooseBox .listWrap .right {
  border-left: 1px solid #ddd;
  height: 165px;
  width: 153px;
  padding-left: 20px;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .chooseBox .listWrap .right div {
  margin-top: 10px;
  margin-bottom: 10px;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .chooseBox .listWrap .right p {
  font-weight: bold;
  margin-bottom: 10px;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .chooseBox .listWrap .right i {
  color: #B1191A;
  font-size: 16px;
  margin-bottom: 10px;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .chooseBox .listWrap .right button {
  padding: 10px 25px;
  font-size: 16px;
  color: white;
  background: #e1251b;
  border: none;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .BottomDetail .tabBtns {
  background: #ededed;
  display: flex;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .BottomDetail .tabBtns li {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background: #fff;
  height: 40px;
  padding-left: 11px;
  padding-right: 11px;
  text-align: center;
  line-height: 40px;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .BottomDetail .tabBtns li:first-child {
  border-left: 1px solid #ddd;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .BottomDetail .tabBtns li.active {
  background: red;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .BottomDetail .tabBtns li.active a {
  color: #fff;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .BottomDetail .tabContents div {
  padding-left: 20px;
  line-height: 25px;
  display: none;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .BottomDetail .tabContents div:first-child {
  margin: 10px 0;
}
#wrapper .content .contentMain .goodsDetailWrap .rightDetail .BottomDetail .tabContents div.active {
  display: block;
}
#wrapper .rightAside {
  width: 300px;
  height: 100%;
  background: #7a6e6e;
  transition: 0.5s;
  position: fixed;
  top: 0px;
}
#wrapper .rightAside.asideClose {
  right: -294px;
}
#wrapper .rightAside.asideOpen {
  right: 0px;
}
#wrapper .rightAside .btns {
  width: 35px;
  height: 35px;
  background: #7a6e6e;
  border-radius: 5px 0 0 0;
  left: -29px;
  background-size: 35px 35px;
  position: absolute;
}
#wrapper .rightAside .btns.btnsClose {
  background-image: url('../images/list.png');
}
#wrapper .rightAside .btns.btnsOpen {
  background-image: url('../images/cross.png');
}
#wrapper .rightAside .content {
  width: 294px;
  background: bisque;
  position: absolute;
  left: 6px;
  top: 0px;
  bottom: 0px;
  z-index: 50;
}
#wrapper .rightAside .navlist {
  position: absolute;
  left: -29px;
  top: 50%;
  transform: translateY(-50%);
}
#wrapper .rightAside .navlist li {
  width: 35px;
  height: 35px;
  position: relative;
}
#wrapper .rightAside .navlist li p {
  width: 35px;
  height: 35px;
  background: #7a6e6e;
  background-image: url('../images/toolbars.png');
  background-position: -87px -174px;
}
#wrapper .rightAside .navlist li i {
  width: 62px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  position: absolute;
  left: 35px;
  transition: 0.5s;
  top: 0px;
  background: #7a6e6e;
}
#wrapper .rightAside .navlist li:hover p {
  background-color: pink;
}
#wrapper .rightAside .navlist li:hover i {
  background-color: pink;
  left: -62px;
}
